<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<!-- 用户 -->
	<bean id = "userService" class = "com.serviceImpl.UserServiceImpl">
		<!-- <property name="sessionFactory" ref = "sessionFactory"></property> -->
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name = "userAction" class = "com.action.UserAction">
		<property name="userService" ref = "userService"></property>
	</bean>
	
	<!-- 博客 -->
	<bean id = "blogService" class = "com.serviceImpl.BlogServiceImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name = "blogAction" class = "com.action.BlogAction">
		<property name="blogService" ref = "blogService"></property>
	</bean>
	
	<!-- 博客 -->
	<bean id = "diaryService" class = "com.serviceImpl.DiaryServiceImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name = "diaryAction" class = "com.action.DiaryAction">
		<property name="diaryService" ref = "diaryService"></property>
	</bean>
	
	<!-- 分类 -->
	<bean id = "categoryService" class = "com.serviceImpl.CategoryServiceImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name = "categoryAction" class = "com.action.CategoryAction">
		<property name="categoryService" ref = "categoryService"></property>
	</bean>
	
	
	
	
	
</beans>
